.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

android/
ios/
web/
macos/
linux/
windows/
test/
analysis_options.yaml
glutpass.iml
.metadata

.DS_Store
*.log
